<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="mt-4 mb-4">Client List</h1>
    <a class="btn btn-outline-primary" th:href="@{/clients/create}">Add new client</a>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Budget</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="client: ${clients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.name}"></td>
            <td th:text="${client.email}"></td>
            <td th:text="${client.phonenumber}"></td>
            <td th:text="${client.budget}"></td>
            <td>
                <a th:href="@{/clients/{id}(id=${client.id})}" class="btn btn-primary">Details</a>
            </td>
            <td>
                <a class="btn btn-warning btn-block mb-2" th:href="@{/clients/edit/{id}(id=${client.id})}">Edit</a>
            </td>
            <td>
                <form th:action="@{/clients/delete/{id}(id=${client.id})}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <a th:href="@{/}" class="btn btn-secondary">Back</a>
</div>
</body>
</html>
