<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Edit Showing Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<main class="bd-main order-1">
    <div class="container mt-5 p-2">
        <h1 class="text-center">Edit Showing Schedule</h1>
        <form th:action="@{/showing-schedules/update/{id}(id=${showingSchedule.getId()})}" th:object="${showingSchedule}" method="post" class="row g-3">
            <div class="col-12">
                <label for="property" class="form-label">Property</label>
                <input th:field="*{property}" type="text" class="form-control" id="property">
                <span th:if="${#fields.hasErrors('property')}" th:errors="*{property}" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label for="date" class="form-label">Date</label>
                <input th:field="*{date}" type="date" class="form-control" id="date">
                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label for="clientName" class="form-label">Client Name</label>
                <input th:field="*{clientName}" type="text" class="form-control" id="clientName">
                <span th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>
